# GNU Emacs temporary files

ChangeLog
\#*
.\#*
.php_cs_cache
TAGS
*~
/downloads
/solr/vendor
/vendor
composer.phar
composer.lock
import/solrmarc.log
node_modules
public/swagger-ui
.vagrant
lessphp_*.list
local/config/vufind/config.ini
local/*.conf
local/harvest/oai.ini
themes/bootstrap3/css/compiled.css
themes/bootprint3/css/compiled.css
themes/sandal/css/compiled.css
themes/local_theme_example/css/compiled.css
themes/fiddk/images/newsletter
